In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\python_projects\titanic\venv\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\python_projects\titanic\venv\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python_projects\titanic\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\python_projects\titanic\venv\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\python_projects\titanic\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

WARNING: You are using pip version 19.2.3, however version 21.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in c:\python_projects\titanic\venv\lib\site-packages (1.21.1)

WARNING: You are using pip version 19.2.3, however version 21.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np

## 1. Load data

In [3]:
train_data = pd.read_csv(r"data\train.csv")
test_data = pd.read_csv(r"data\test.csv")

df_all = pd.concat([train_data, test_data], sort=True).reset_index(drop=True)
display(df_all[:5])

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [4]:
print("Train_data contains: " + str(train_data.shape[0]) + "rows")
print("Test_data contains: " + str(test_data.shape[0]) + "rows")

print("Dataset has: " + str(test_data.shape[1]) + " features ")

Train_data contains: 891rows
Test_data contains: 418rows
Dataset has: 11 features

In [5]:
print("Missings in train_data")
train_data.isnull().sum()

Missings in train_data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## 2. Data preprocessing

### 2.1 Age

In [ ]:
df_all.groupby("")